/*for all document*/
@font-face {
    font-family: 'DM Mono';
    src: url('../fonts/DMMono/DMMono-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide/Audiowide-Regular.ttf');
    width: 400;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:'Inter';
    font-size: 16px;
    color: white;
}
button:hover{
    cursor: pointer;
}


/*header css*/
.navList{
    display: flex;
    list-style-type: none;
    margin-top: 0;
}

.navItem{
    color: white;
    margin-left: 15px;
}

.navItem a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'DM Mono';
}

.headerMain{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 25px 120px 0px 120px;
}

.listSocialNetwork{
    display: flex;
    align-content: flex-start;
    list-style-type: none;
    margin-top: 0;
}

.itemSocialNetwork{
    margin-left: 15px;
}

.itemSocialNetwork img{
    width: 36px;
    height: 36px;
}

.itemSocialNetwork:first-child{
    margin-left: 0;
}

.headerMain img{
    width: 123;
    height: 32;
}


/* main block*/
.waveBlock{
    display: flex;
    justify-content: space-around;
}

.waveBlock .leftPart{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 85px;
    text-align: center;
    padding-left: 0;
}

.waveBlock .leftPart .top h1{
    font-size: 51px;
    font-family: 'Audiowide';
}

.waveBlock .leftPart button{
    background-color: #8DFD1B;
}

.waveBlock .rightPart{
    flex: 6;
}

.waveBlock .leftPart .medium{
    width: 70%;
}

.waveBlock .leftPart button{
    display: block;
    width: 200px;
    height: 60px;
}

.waveBlock{
    margin-bottom: 50px;
}


/*wave nft*/
.waveNFT{
    width: 80%;
    display: flex;
}

.waveNFT .leftPart{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: flex-start;
}

.waveNFT .titleWaveNft{
    margin-top: 0;
}

.waveNFT .titleWaveNft, .waveNFT .subTitleWaveNFT{
    font-size: 38px;
    font-family: 'Audiowide';    
    margin-bottom: 0px;
}

.waveNFT .subTitleWaveNFT{
    margin-top: 0px;
    color: #A8A8A8;
}

.waveNFT .rightPart{
    flex:1;
}

.waveNFT .top{
    font-family: 'DM Mono';
    color: #8DFD1B;
    border-left: 2px solid #8DFD1B;
    padding: 20px;
    font-size: 21px;
}

.waveNFT button{
    width: 40%;
    height: 3rem;
    background-color: transparent;
    font-family: 'DM Mono';
    color: white;
    border: 1px solid #8DFD1B;
}


/*block artist*/
@keyframes animationTitleArtist {
    0%{padding-left: 10%;}
    25%{transform: scale(0.3) rotateY(90deg);}
    50%{padding-left: 70%;}
}

.artist .titleArtist{
    margin-top: 20px;
    margin-bottom: 70px;
    width: 100%;
    font-family: 'Audiowide';
    font-size: 71px;
}

.artist .titleArtist span{
    display: inline-block;
    padding-left: 10%;
    animation-name: animationTitleArtist;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.artist .artistPerson{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
}

.artist .artistPerson .itemGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist img{
    width: 245px;
    height: 245px;
    border-radius: 7px;
}


/*block stories*/
.storiesBlock .storyHeader{
    display: flex;
    justify-content: center;
    font-family: 'Audiowide';
    font-size: 38px;
    margin: 50px 0px;
}

.storiesBlock .textStories{
    color: #A8A8A8;
    display: inline-block;
    padding-left: 15px;
}

.contentNavigation .contentNavigationItem{
    padding: 20px 0px;
    padding-left: 10px;
    width: 100%;
    font-family: 'DM Mono';
}

.contentNavigation .contentNavigationItem:hover{
    cursor: pointer;
}

.contentNavigation ul{
    list-style-type: none;
}

.contentNavigation .activeItem{
    color: #8DFD1B;
    background-color: #222222;
}

.storiesContent{
    display: flex;
    padding: 0px 5%;
    margin: 0 5%;
    align-content: flex-start;
}

.storiesContent .contentNavigation{
    flex: 3;
}

.storiesContent .content{
    flex: 8;
}
.content .storyData{
    box-sizing: content-box;
}

.content .rightPartOfStory{
    flex: 3;
    padding-left: 5%;
}

.content .leftPartOfStory{
    flex: 1;
}

.content .rightPartOfStory .nameStory{
    padding: 5%;
    font-family: 'DM Mono';
    font-size: 21px;
    color: #8DFD1B;
    border-left: 1px solid #8DFD1B;
}

.content img{
    width: 180px;    
    height: 250px;
}

.content .showStory{
    padding: 7%;
    background-color: #222222;
    display: flex;
}

.content .hideStory{
    display: none;
}

.content .storyData{
    min-height: 350px;
}


/*roadmap block*/
.roadMap{
    margin: 100px 0px;
}

.titleImageRoadMap{
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}

.roadmapData{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.roadmapData .titleTextRoadmap{
    font-family: 'Audiowide';
    font-size: 38px;
}

.roadmapData .itemRoadmap{
    width: 30%;
    height: 250px;
    margin: 30px 0px;
}

.itemRoadmap .topPartItemRoadmap, .itemRoadmap .buttomPartItemRoadmap{
    background-color: #222222;
}

.itemRoadmap .topPartItemRoadmap, .itemRoadmap .buttomPartItemRoadmap{
    border: 1px solid #8DFD1B;
}

.roadMap .topPartItemRoadmap{
    display: flex;
    height: 30%;
}

.topPartItemRoadmap .topLeftElement{
    font-family: 'DMMono';
    font-size: 28px;
    padding: 5px 12px;
    margin: 15px;
}

.topPartItemRoadmap .topLeftElement:first-child{
    background-color: #8DFD1B;
    color: black;
}

.topPartItemRoadmap .topRightElement{
    margin: 15px;
}

.topRightElement .countStep{
    font-family: 'DMMono';
    font-size: 8px;
    color: #8DFD1B;
    padding: 5px 0px;
}

.topRightElement .nameOfStep{
    font-family: 'DMMono';
    font-size: 16px;
}

.itemRoadmap .buttomPartItemRoadmap{
    display: flex;
    height: 70%;
}

.buttomPartItemRoadmap .leftPart{
    flex: 2;
}

.buttomPartItemRoadmap .rightPart{
    display: flex;
    justify-content: center;
    flex: 1;
}
.buttomPartItemRoadmap .rightPart img{
    width: 130px;
    height: 130px;
}

.buttomPartItemRoadmap .leftPart p{
    font-size: 11px;
    padding-left: 20px;
}

.buttomPartItemRoadmap .leftPart p:last-child{
    padding-left: 5px;
}

.roadmapData>span{
    display: block;
    margin: 30px 0px;
    color: #8DFD1B;
}

#firstImageAround{
    position: absolute;
    transform: translateY(-35%);
}

#secondImageAround{
    position: absolute;
    transform: translateX(170%) translateY(30%);
}

#thirdthImageAround{
    position: absolute;
    transform: translateX(10%) translateY(100%);
}

/*block partners*/
.partners{
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partners .titleOurPartners{
    font-family: 'DMMono';
    font-size: 11px;
    color: #8DFD1B;
    margin-bottom: 60px;
}

.partners .LogoPartners{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 20px;
}

.partners .itemPartner{
    transition-duration: 1.5s;
    transition-property: transform;
    
}

.partners .itemPartner:hover{
    transform: scale(1.2);
}

/*block questions*/
.questions{
    margin: 150px 5%;
    display: flex;
    width: 90%;
}

.titleImgQuestion{
    font-family:'Audiowide';
    font-size: 38px;
}

.titleImgQuestion span:nth-child(2){
    color:#A8A8A8;
}

.titleImgQuestion span{
    display: block;
}

.titleImgQuestion img{
    margin-top: 30px;
    width: 360px;
    height: 360px;
}

.itemsQuestion{
width: 100%;
}

.titleQuestion{
    display: flex;
    justify-content: space-between;
    font-family:'DMMono';
    font-size: 16px;
    transition-duration: 1s;
    transition-property: font-size;
}

.hideResponseQuestion{
    display: none;
}

.someQuestion{
    margin-left: 20%;
    cursor: pointer;
    padding: 15px 0px;
    background-color: #222222;
}

.titleQuestion:hover{
    font-size: 20px;
}

.responseQuestion{
    font-size: 12px;
    color: #C4C4C4;
}

/*block team*/
.team{
    margin-bottom: 100px;
}

.team .animationTextTeam{
    display: block;
    padding-left: 10%;
    font-family: 'Audiowide';
    font-size: 79px;
    animation-name: animationTitleArtist;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-bottom: 100px;
}

.teamItems{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team .infoItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.team .infoItem>img{
    width: 320px;
    height: 320px;
}

.team .itemSocialNework img{
    width: 32px;
    height: 32px;
}

.team .infoItem h3{
    font-family: 'DMMono';
    font-size: 21px;
}

.team .infoItem h6{
    font-family: 'DMMono';
    color: #8DFD1B;
}

.team .infoItem p{
    text-align: center;
    width: 60%;
    margin: 30px 20px
}

/*block Join our*/
.blockJoinOur{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.blockJoinOur .imgJoinOur img{
    width: 584px;
    height: 584px
}

.blockJoinOur .titleJoinOur h1{
    margin: 0;
    font-family: 'Audiowide';
    font-size: 51px;
}
.blockJoinOur .titleJoinOur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.blockJoinOur .buttonJoinDiscord{
    background-color: #8DFD1B;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.blockJoinOur .buttonJoinDiscord:hover{
    cursor: pointer;
}

.blockJoinOur .buttonJoinDiscord img{
    width: 20px;
    height: 20px;
}

/*footer*/
.footer{
    padding: 50px 10%;
    height: 200px;
    background-color: #42006A;
}

.footer a{
    font-family: 'DMMOno';
    text-decoration: none;
    color: white;
}

.mainFooter{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.mainFooter>div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.mainFooter>div:last-child{
    display: flex;
    justify-content: start;
    padding: 20px;
}

.mainFooter>div:first-child{
    justify-content: space-evenly;
    font-size: 13px;
}